<mat-card-title-group>
  <!--  Title -->
  <mat-card-title> Список наймиліших котиків </mat-card-title>

  <button
    type="button"
    color="accent"
    mat-raised-button
    class="button-actions"
    (click)="toggleFilter()"
  >
    <span>Фільтри</span>
  </button>
</mat-card-title-group>

<!-- * Line -->
<mat-divider />

<ng-scrollbar class="scrollbar-full" [autoHeightDisabled]="false">
  <div class="content">
    <!-- Content -->
    <mat-card-content>
      <!-- Filter -->
      <div #filters class="filters" [class.filters-visible]="isFiltersOpen">
        <app-filters
          *ngIf="isFiltersOpen"
          [data]="updateQueryParams"
          (formSubmitEvent)="getFilterValues($event)"
        />
      </div>
      <ul>
        <li *ngFor="let item of list()">
          <a class="item">
            <img [src]="item.url" alt="cat-img" />
          </a>
        </li>
      </ul>
    </mat-card-content>
  </div>
</ng-scrollbar>
