:host {
  display: flex;
}

form {
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  width: 100%;
}

mat-form-field {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}
