@import "src/styles/media";

:host {
  overflow: hidden;
  display: block;
  height: 100vh;
  background-color: var(--c-silver);
}

.content {
  height: calc(100vh - 128px);
  position: relative;
  overflow: auto;
  padding: 16px;

  @include media("<=phone") {
    padding: 8px;
  }

  &-inner {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
